APP_ENV=development
PORT=8080
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=sample
DEV_USER_UUID=00000000-0000-0000-0000-000000000001
